/*hide spin box in input*/
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.win {
  text-align: center;
}
#board {
  margin: auto;
  border-collapse: collapse;
}

.new-game {
  margin-top: 70px;
  margin-left: -50px;
  width: 100px;
  height: 30px;
  position: relative;
  left: 50%;
}

tr:first-child {
  border-top:solid; 
}
tr:nth-child(3n) td {
  border-bottom:solid ;
}
td {
  border:1px solid;
  text-align:center;
}
td:first-child {
  border-left:solid;
}
td:nth-child(3n) {
  border-right:solid ;
}

/*the cell size defines the board size*/
@mixin cell($width, $height, $fontSize) {
  width: $width;
  height: $height;
  font-size: $fontSize;
  text-align: center;
  font-weight: bold;
  border: 0;

}

.cell {
  @include cell(10px,20px,20px);
}

@media (max-width: 320px) {
  .cell {
    @include cell(10px,20px,18px);
  }
}

@media only screen and (min-width: 321px) and (max-width: 767px) {
  .cell {
    @include cell(20px,20px,20px);
  }
}

@media (min-width: 768px) {
  .cell {
    @include cell(40px,40px,30px);
  }
}